
.section1 {
    border: 1px solid black;
    height: 180px;
    display: flex;
}

.section2 {
    border: 1px solid black;
    height: 500px;
}

.section3 {
    height: 500px;
    background-image: url("/img/formentor-mallorca.jpg");
    background-position: center;
}

.food {
    border: 1px solid black;
    height: 100px;
    width: 33%;
}

.cathedral {
    border: 1px solid black;
    height: 100px;
    width: 33%;
}

.beach {
    border: 1px solid black;
    height: 100px;
    width: 33%;
}

footer {
    border: 1px solid black;
    height: 100px;
}

.mallorcaMenu {
    font-family: 'Poiret One', cursive;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    margin-right: 50px;
}

.textSerraTramuntana {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: rgb(240, 223, 125);
    padding: 166px;
}